
#Siden  {

width: 1000px;
margin-left:auto;
margin-right:auto;

}

#topp	{
background-image:url('images.jpg');
background-repeat:cover;
background-size:1000px 120px;
width: 996px;
height: 120px;
position: relative;
border: 2px solid #000000;

}
#linker  {

width: 998px;
height: 26px;
position: relative;
background-color: #1e7c9a;
border-bottom: 2px solid;
}

.menu
ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 0px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}


#body  {

margin: auto;
width: 986px;
height: 0px;
padding: 10px 0px 0px 10px;
border-left: solid 2px;
border-right: solid 2px;

}

#test  {
width: 986px;
height: 600px;
padding: 10px 0px 0px 10px;
border-left: solid 2px;
border-right: solid 2px;

}

#bunn  {

clear: both;
background-color: #1e7c9a;
border: solid 2px;


}


