#Siden  {

width: 1000px;
margin-left:auto;
margin-right:auto;
}

#topp	{

width: 996px;
height: 100px;
position: relative;
border: 2px solid #000000;
text-seize: 20px;
}

#linker  {

width: 996px;
height: 30px;
position: relative;
background-color: #C0C0C0;
border-bottom: 2px solid #000000;
border-left: 2px solid;
border-right: 2px solid;
}

.vannrettlink  {

position: absolute; top: 4px; left: 1px; 
}

.vannrettlink ul { 

margin: auto;
}

.vannrettlink li {

margin: 0px 18px 0px 0px;
list-style-type: none;
display: inline;
}

.vannrettlink li a {

color: #ffffff;
padding: 5px 12px 7px;
text-decoration: none;
font-size: 16px;
font-family: Verdana;
}

.vannrettlink li a:hover{

background-color: #000000;
text-decoration: underline;
}

#body  {

margin: auto;
width: 986px;
height: 600px;
padding: 10px 0px 0px 10px;
border-left: solid 2px;
border-right: solid 2px;
}

#bunn  {

clear: both;
background-color: #C0C0C0;
border: solid 2px;
}


