/* For å definere bildet til å dekke hele siden */

html, body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	}

#background {
	background: url(bakgrunn.jpg);
	background-size: cover;
	background-position: center;
	height:100%;
	width:100%;
	}

/* Ruten for overskrift */
	
#topptekst {
	font-size: 33px;
	text-align: center;
	background: white;
	opacity: 0.6;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 38px;
	width: 660px;
	border: solid black 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:3px 3px 3px 1px black;	
	}

/* Der linkene har plass */
	
#topp {
	margin-left: auto;
	margin-right: auto;
	position: inherit;
	height: 40px;
	width: 745px;
	text-align: center;
	}

/* Midt delen av siden */
	
#midten {
	background: white;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 60%;
	width: 660px;
	border: solid black 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:5px 5px 5px 2px black;
	overflow:auto;
}

#tekstboks {
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	border: solid black 5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	width: 580px;
	hight: 160px;
	margin-top: 15px;
	z-index: 1;
	text-align: center;
	}

¤#overskrift {
	text-size: 20px;
	text-color: blue;
	text-style:bold;
	}

#bunntekst {
	margin-top: 15px;
	font-size: 30px;
	text-align: center;
	background: #6699CC;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
	position: align;
	height: 35px;
	width: 660px;
	border: solid black 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:3px 3px 3px 2px black;	
	}

.gjennomsiktig {
	opacity: 0.8;
	}

.tekst {
	font-size: 20px;
	position: inherit;
	padding: 0px 17px 17px 15px;
	}

/* Font */		
.meny {
    font-size: 19px;
	padding: 0px;
    list-style: none;
	position: align;
	}

/* Stil på knappene */		
ul li	{
	opacity: 0.8;
	display: block;
	float:left;
	width: 130px;
    position: relative;
	background: #6699CC;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:2px 2px 2px 0.5px black;
	margin-left: 2px;
	margin-bottom: 4px;
	z-index: 2;
	}
	
/* Gjør hele knappen farget */		
ul a{	
	width: 131px;
    text-decoration: none;
    color: #ffffff;
    padding: 0px;
	}

/* Definerer knappen når musen er over */		
ul a:hover {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	display: block;
	background: black;
	}

/* Dropdown menyen */
ul li ul{
	display: none;
	position: absolute;
	padding: 4px 0px;
	}
	
ul li:hover > ul {
	display: block;
	opacity: 1;
	}