/* For å definere bildet til å dekke hele siden */

html, body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	}

#background {
	background: url(bakgrunn.jpg);  
	background-size: cover;
	height:100%;
	width:100%;
	opacity: 1;
	}

/* Ruten for overskrift */
	
#topptekst {
	font-size: 33px;
	text-align: center;
	background: white;
	opacity: 0.6;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 35px;
	width: 660px;
	border: solid black 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:5px 5px 5px 2px black;	
	}

/* Der linkene har plass */
	
#topp {
	margin-left: auto;
	margin-right: auto;
	position: inherit;
	height: 40px;
	width: 800px;
	text-align: center;
	}

/* Midt delen av siden */
	
#midten {
	
	background: white;
	margin-left: auto;
	margin-right: auto;
	position: inherit;
	height: 710px;
	width: 660px;
	border: solid black 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:5px 5px 5px 2px black;
}

#bunntekst {
	font-size: 33px;
	text-align: center;
	background: #6699CC;
	opacity: 0.6;
	margin-left: auto;
	margin-right: auto;
	position: align;
	height: 35px;
	width: 660px;
	border: solid black 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:5px 5px 5px 2px black;	
	}

.gjennomsiktig {
	opacity: 0.8;
	}

.tekst {
	font-size: 20px;
	position: inherit;
	padding: 0px 17px 17px 15px;
	}

/* For linker */

#linker	{
	background: #6699CC;
	margin: auto;
	border: solid;
	float: left;
		}
			
.meny ul {
    font-size: 19px;
	padding: 0;
    list-style: none;
		}
		
ul li 		{
	opacity: 0.6;
	display: inline-block;
	width: 120px;
    position: inherit;
	border: solid 0.5px;
	background: #6699CC;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow:5px 5px 5px 2px black;
		}
		
ul li a 	{
	
	width: 120px;
    text-decoration: none;
    color: #ffffff;
    padding: 0;
	
		}
		
ul li a:hover {
	border: solid 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	opacity: 0.6;
	display: inline-block;
	background: black;
		}
		
li:hover ul {
	border: solid 0.5px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	opacity: 0.6;
    display: inline-block;
	background: #6699CC;
		}